<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<h1><%= title %></h1>
	<% if( subtitle) { %>
	<h3>Subtitle: <%= subtitle %></h3>
	<% }else{  %>
		<h3>Subtitle: Empty</h3>
	<% } %>
	<p><%= desc %></p>
</body>
</html>