<%- include('../../partials/head.ejs') %> 

	<div class="signup-wraper">
		<div class="container">
			<h1> Lorem, ipsum dolor sit amet </h1>
			<p class="load">Consectetur adipisicing elit. Omnis, tempore dolorem totam cum quae rem laudantium quis voluptates minima ipsa laboriosam, repellendus minus numquam vitae quaerat cumque maiores ex. Delectus.</p>
		</div>
	</div>



<%- include('../../partials/footer.ejs') %> 
	</body>
</html>