</div>
<footer>
    <p>
        Copyright &copy; 2021
    </p>
</footer>

    <script src="/scripts/jquery-3.5.1.slim.min.js" ></script>
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="/scripts/bootstrap.bundle.min.js"></script>

